.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}
.chart {
  width: 720px;
  margin-top: 25px;
  margin-bottom: 25px;
}
form {
  margin: 25px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
form.input[type='text'],
form.input[type='email']
{
  display: block;
  width: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4286;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 20px;
}
.error {
  color: red;
}